@font-face {
    font-family: '29LT Bukra Regular';
    src: 
        url('https://midhuna.github.io/Fertiglobe/29ltbukraregular.ttf')  format('truetype')
    font-weight: normal;
    font-style: normal;
}
